.school-widget {
  --school-widget-border-color: #ffe5a3;
  --school-widget-bg-color: #fefaec;
  --school-widget-selected-color: #383838;
}

.school-widget {
  border: 1px solid var(--school-widget-border-color);
  border-radius: 2.4rem;

  background-color: var(--school-widget-bg-color);
  background-image: url('./SchoolWidgetBackground.svg');
  background-repeat: no-repeat;
  background-position: bottom right;
}
